<template>
    <section-header title="Settings" icon="settings"></section-header>
</template>
<script>
  import SectionHeader from './SectionHeader'
  export default {
    name: 'app-settings',
    components: {
      'section-header': SectionHeader
    },
    data () {
      return {}
    }
  }
</script>
<style scoped>
    .section-header h5
    {
        margin: 0;
        line-height: 70px;
    }
</style>
