<template>
    <section-header title="Dashboard" icon="dashboard"></section-header>
</template>
<script>
  import SectionHeader from './SectionHeader'
  export default {
    name: 'dash-board',
    components: {
      'section-header': SectionHeader
    },
    data () {
      return {}
    }
  }
</script>
<style scoped>
    [v-cloak]
    {
        display: none;
    }
</style>
