<template>
    <section-header title="Device Profiles" icon="folder_shared"></section-header>
</template>
<script>
  import SectionHeader from './SectionHeader.vue'
  export default {
    components: {
      'section-header': SectionHeader
    },
    name: 'device-profiles',
    data () {
      return {}
    }
  }
</script>
<style scoped>
    .section-header h5
    {
        margin: 0;
        line-height: 70px;
    }
</style>
