<template>
  <v-container text-xs-center v-cloak v-if="status === 'start'">
    <v-layout row wrap>
      <v-flex xs4 sm4 md4 offset-sm4 offset-lg2>
        <v-layout row wrap>
          <v-flex sm6>
            <img id="logo" src="~@/assets/logo.png" alt="electron-vue" v-cloak>
          </v-flex>
          <v-flex sm6>
            <div class="left-side" v-cloak>
              <span class="title" v-cloak>
                Droid Fleet
              </span>
              <v-btn color="primary" :to="{ name: 'splash-page' }">Start</v-btn>
            </div>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import SystemInformation from './LandingPage/SystemInformation'

  export default {
    name: 'landing-page',
    components: { SystemInformation },
    data () {
      return {
        status: 'wait'
      }
    },
    mounted: function () {
      this.$nextTick(function () {
        // Code that will run only after the
        // entire view has been rendered
        this.status = 'start'
      })
    },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  body { font-family: 'Source Sans Pro', sans-serif; }

  .container {
    height: 100vh;
    width: 100vw;
    align-items: center;
    padding: 0 !important;
  }

  .layout
  {
    height: 100vh;
    align-items: center;
  }

  #logo
  {
    max-width: 100px;
  }

  [v-cloak] {
    display: none;
  }
</style>
