<template>
    <v-layout row align-center>
        <v-flex sm4 align-center class="section-header">
            <v-avatar d-block size="35px" slot="activator">
                <v-icon>{{ icon }}</v-icon>
            </v-avatar>
            <h6 d-inline-flex>{{ title }}</h6>
        </v-flex>
        <v-flex sm4 offset-sm4 justify-end d-inline-flex align-content-end class="section-actions">
            <v-btn fab dark small>
                <v-icon>settings</v-icon>
            </v-btn>
        </v-flex>
    </v-layout>
</template>
<script>
  export default {
    name: 'section-header',
    props: ['title', 'icon'],
    data () {
      return {}
    }
  }
</script>
<style scoped>
    .section-header h6
    {
        margin: 0;
        display: inline-flex;
    }

    .section-actions button
    {
        flex: 0 1 auto;
    }

    .section-header .avatar
    {
        margin-top: -10px;
        margin-right: 0.5em;
    }
</style>
