<template>
    <v-app id="inspire" dark>
        <v-navigation-drawer
                clipped
                permanent
                :mini-variant="mini"
                v-model="drawer"
                app
        >
            <v-list dense class="pt-0">
                <v-list-tile v-for="navItem in navItems" :key="navItem.title" :to="{ name: navItem.link }">
                    <v-list-tile-action>
                        <v-icon>{{ navItem.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ navItem.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar app fixed clipped-left>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>Droid Fleet</v-toolbar-title>
        </v-toolbar>
        <main>
            <v-content>
                <v-container fluid full-height>
                    <transition><router-view v-cloak></router-view></transition>
                </v-container>
            </v-content>
        </main>
        <v-footer app fixed>
            <span>&copy; 2017</span>
        </v-footer>
    </v-app>
</template>
<script>
    import DashBoard from './DashBoard'
    export default {
      name: 'splash-page',
      components: {
        'dash-board': DashBoard
      },
      data: () => ({
        drawer: true,
        mini: true,
        navItems: [
          {title: 'Dashboard', icon: 'dashboard', link: 'dash-board'},
          {title: 'Devices', icon: 'phone_android', link: 'device-manager'},
          {title: 'Profiles', icon: 'folder_shared', link: 'device-profiles'},
          {title: 'Settings', icon: 'settings', link: 'app-settings'}
        ]
      }),
      props: {
        source: String
      }
    }
</script>
<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0
    }
</style>
